.App {
  opacity: 0.9;
  text-align: center;
  background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-blue-business-technology-user-image_6481.jpg");
  font-size: 20px;
  color: white;
}


p.outset {border-style: outset;
           border-color: rgb(153, 132, 132);
           border-radius: 100px;
          
           
          
}
